<div class="noteList">
    @for(note of notes; track $index) {
        <div class="noteEntry">
            <div class="noteHeader">
                <h4 class="noteTitle">{{note.title}}</h4>
                <div class="noteManagementButtons">
                    <button class="noteDeleteButton" (click)="handleDeleteClick(note)">x</button>
                </div>
            </div>
            <app-tags [storageKey]="`${note.id}`" [refresh]="this.loadNotes" class="noteTagList"></app-tags>
            <div class="noteBody">
                <div class="noteContent">{{note.content}}</div>
                <div class="notePositionButtons">
                    <button class="noteUpButton" (click)="handleUpButtonClick(note)">UP</button>
                    <button class="noteDownButton" (click)="handleDownButtonClick(note)">DOWN</button>
                </div>
            </div>
        </div>
    }
</div>
@if(editing) {
    <form class="newNoteForm">
        <label>
            Titre
            <input type="text" [(ngModel)]="editing.title" name="editing.content" />
        </label>

        <label>
            Contenu
            <input type="text" [(ngModel)]="editing.content" name="editing.content" />
        </label>

        <button type="submit" (click)="handleNewNoteEvent()">VALIDER</button>
    </form>
}
<button (click)="handleNewNoteClick()">+</button>